body {
    background: #f8f8f8;
}

body header {
    margin-bottom: 0px;
}

body .cb-services20 {
    margin-bottom: 247px;
}

body .cb-services20 .service-box {
    text-align: center;
    margin: 0 -15px;
    max-height: 200px;
}

body .cb-services20 .service-box .service-content {
    position: relative;
    background: #1583c9;
    color: #fff;
    padding: 29px 23px 13px !important;
}

body .info-header {
    list-style: none;
    color: #003C7E;
    overflow: auto;
}

body li {
    float: left;
    margin-right: 8px;
}

body .info-contato li p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.6;
}

body #bs-example-navbar-collapse-4 ul li a {
    color: white;
}

.cb-pricing10 .list {
    padding: 19px 0 0 !important;
    margin: 0px !important;
}

.cb-content13 .row {
    padding-top: 1px !important;
    padding-bottom: 10px !important;
}

.cb-content13 .content {
    min-height: 337px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.especial {
    text-align: center;
    margin-right: 3px !important;
    padding: 3px !important;
    font-size: 29px !important;
    color: #697e85;
    border: 2px solid;
    border-radius: 21px;
    FONT-WEIGHT: 700;
    WIDTH: 63PX;
    HEIGHT: 69PX;
}

.especial .esp-caption {
    font-size: 10px !important;
    line-height: 23px;
    font-weight: 700;
    font-family: sans-serif;
}

.imgdescricao {
    padding: 6px;
    width: 56px;
    height: 70px;
    text-align: center;
    color: #697e85;
    margin: 0px auto;
    border: 2px solid #697e85;
    border-radius: 26%;
    font-size: 10px;
}

.imgdescricao .texto {
    font-size: 10px;
    line-height: 20px;
}

.cb-pricing10 .table-default {
    border: solid darkgrey !important;
    height: 728px;
}

.cb-pricing10 .table-bottom {
    text-align: center;
    background: white;
    padding: 0px;
}

.cb-pricing10 .list li {
    color: #666;
    position: relative;
    text-transform: capitalize;
    padding: 0px  !important;
}

.cb-pricing10 .conteudo {
    padding-right: 7px !important;
    padding-left: 7px !important;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #3d6175;
}

.cb-content20 {
    padding-top: 6px;
    padding-bottom: 1px;
    margin-left: 15px;
    margin-right: 14px;
}

.cb-title-1-7 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 74px;
}

.cb-title7 {
    padding-top: 122px;
}

.cb-title72 {
    padding-top: 0px;
}

.cb-content-1-43 {
    margin: 0px !important;
    margin-top: 0px !important;
}

.cb-blog1 {
    padding: 0px !important;
    margin: 0px !important;
}

.cb-content43 {
    padding: 0px !important;
}

#pnlserv {
    margin: 0px;
    padding: 2px;
}

.cb-content20 p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.cb-content20 h2 {
    margin-top: 0px;
    padding-top: 0px;
}

.cb-footer1 {
    padding-top: 43px;
    padding-bottom: 43px;
    width: 100%;
    background: #282828;
    color: #fff;
}

carousel-caption caption {
    margin-bottom: 155px;
}

.titlosessao {
    margin-top: 10px;
    background-color: rgba(37, 37, 41, 0.33);
    padding-top: 5px;
    padding-bottom: 5px;
}

.titlosessao h2 {
    text-align: center;
    color: #ffffff;
}

convenio {
}

.convenio {
}

.convenio .conteudo {
}